{% extends 'base.html' %}


{% block content %}
<h1>가족 등록</h1>
{% if error %}
<h3 style="color: red;">{{ error }}</h3>
{% endif %}

<form method="POST" enctype = "multipart/form-data"> {% csrf_token %}
    <!-- 가족 등록 -->
    <input type="text" name="family_name" placeholder = "가족 이름을 등록해주세요">
    <input type="password" name="family_password" placeholder = "가족 비밀번호를 등록해주세요">


    <!-- 개인 계정 등록 -->
    <input type="text" name="name" placeholder = "이름">
    <input type="text" name="individual_id" placeholder = "새로운 ID를 등록해주세요">
    <input type="password" name="individual_password" placeholder = "비밀번호">
    <input type="date" name="birthday" placeholder = "생일날짜">
    <input type="file" name="profile_pic" placeholder = "개인 프로필 사진을 업로드해주세요">
    
    <button type = "submit">가입하기</button>
        
        
</form>



{% endblock content%}
