ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

span {
    background: red;
    height: 40px;
    /* margin-right: 20px; */
    text-align: center;
    color: white;
    width: 0;
    /* display: inline-block; */
    transition: 0.2s linear;
    padding-top: 7.5px;

    opacity: 0;
}

li:hover span{
    width: 40px;
    opacity: 1.0;
}

li {
    display: flex;
}

.trash-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.material-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}


#todolist {
    display: flex;
    width: 500px;
    background: #f7f7f7;
    
}

#todolist1 {
    width: 35%;
}

#todolist2{
    padding-left: 15%;
    width: 100%;
}