<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '../static/base.css'%}">
    {% endblock %}
    <title>매일해효</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    <div class="nav-bar">
        <a class="nav-item" href="{% url 'home' %}">HOME</a>
        {% if user.is_authenticated %}
        <div class="nav-item">안녕하세요, {{ user.username }} </div>
        <a class="nav-item" href="{% url 'logout' %}">로그아웃</a>
        {% else %}
        <a class="nav-item" href="{% url 'login' %}">로그인</a>
        <a class="nav-item" href="{% url 'signup' %}">회원가입</a>
        {% endif %}
    </div>   
</body>
</html>
