<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '../static/base.css'%}">
    {% endblock %}
    <title>매일해효</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    <div class="nav">
        <a href="{% url 'home' %}">
            <img class="nav-home"  src="{% static '../static/image/icon/home.svg'%}">
        </a>
        <a href="{% url 'mission' %}">
            <img class="nav-mission" src="{% static '../static/image/icon/mission_1.svg'%}">
        </a>
        <a href="{% url 'new' %}">
            <img class="nav-new" src="{% static '../static/image/icon/plus.svg'%}">
        </a>
        <a href="{% url 'shop' %}">
            <img class="nav-shop" src="{% static '../static/image/icon/shop.svg'%}">
        </a>
        <a href="{% url 'account' %}">
            <img class="nav-account" src="{% static '../static/image/icon/account.svg'%}">
        </a>
    </div>
</body>
</html>
