{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '../static/mission.css'%}">
{% endblock %}
{% block content %}
<body>
    <div class="mission_title">
        <div></div>
        <h1>Your mission</h1>
        <div class="point">15pt</div>
    </div>
   
    <div class="mission_tree">
        <img class="tree" src="{% static 'image/icon/tree.png' %}"></div>
        <div>행복한 푸른 나무가 자랐습니다!</div>
    </div>

    <div class="your_mission">
    {% for your_mission in your_missions %}
        <div class="mission">
            {{ your_mission }}
        </div>
        <a class="button" href="{% url 'mission_success' %}">미션완료버튼</a>
    {% endfor%}
    </div>
</body>
{% endblock %}